{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "rules": {
        "comma-dangle": "off",
        "indent": ["off", 4],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx"]
            }
        ]
    }
}
